@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Trang chủ";
}

@section css{
<link href="~/Content/webcss/pignose.layerslider.css" rel="stylesheet" />
<link href="~/Content/plugins/owl-sliderbar/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/plugins/owl-sliderbar/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/display-product/homepage.css" rel="stylesheet" />
}

@section scripts{
<script src="~/Scripts/webjs/simpleCart.min.js"></script>
<script src="~/Scripts/webjs/pignose.layerslider.js"></script>
<script src="~/Scripts/webjs/easyResponsiveTabs.js"></script>
<script src="~/Content/plugins/owl-sliderbar/js/owl.carousel.min.js"></script>
<script src="~/Scripts/DisplayProduct/HomePage.js"></script>
    <script>

        $(function () {
            $(window).resize(function () {
                var groupProductTitleWidth = $(".title-groupproduct").outerWidth();
                var subCategoriesWidth = groupProductTitleWidth - $(".category-title-groupproduct").outerWidth() - 60 - 40 - 30;
                $(".childrencategory-groupproduct").outerWidth(subCategoriesWidth);
            });

            $(window).trigger('resize');
        });

    </script>
}

<div ng-app="ecom_HomePage">
    <!-- banner -->
    @*<div class="banner-grid">
        <div id="visual">
            <div class="slide-visual">
                <!-- Slide Image Area (1000 x 424) -->
                <ul class="slide-group">
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba1.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba2.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba3.jpg" alt="Dummy Image" /></li>
                </ul>

                <!-- Slide Description Image Area (316 x 328) -->
                <div class="script-wrap">
                    <ul class="script-group">
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa1.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa2.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa3.jpg" alt="Dummy Image" /></div></li>
                    </ul>
                    <div class="slide-controller">
                        <a href="#" class="btn-prev"><img src="~/Content/Images/TestImages/btn_prev.png" alt="Prev Slide" /></a>
                        <a href="#" class="btn-play"><img src="~/Content/Images/TestImages/btn_play.png" alt="Start Slide" /></a>
                        <a href="#" class="btn-pause"><img src="~/Content/Images/TestImages/btn_pause.png" alt="Pause Slide" /></a>
                        <a href="#" class="btn-next"><img src="~/Content/Images/TestImages/btn_next.png" alt="Next Slide" /></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>*@
    <!-- //banner -->
    <!-- content -->

    <div ng-controller="ecom_Main_Controller as ctrl" class="product-easy">
        <div class="container brandbanner-panel">
            @Html.Action("GroupBanners")
        </div>
        <div class="container groupproduct-panel">
            @Html.Action("GroupProductPatial", new { @categoryId = 21 })
            @Html.Action("GroupProductPatial", new { @categoryId = 22 })
        </div>
    </div>
    <!-- //product-nav -->
</div>
