@using OnlineStore.Model.ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Trang chủ";
}

@section css{
<link href="~/Content/webcss/pignose.layerslider.css" rel="stylesheet" />
<link href="~/Content/plugins/owl-sliderbar/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/plugins/owl-sliderbar/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/display-product/homepage.css" rel="stylesheet" />
}

@section scripts{
<script src="~/Scripts/webjs/simpleCart.min.js"></script>
<script src="~/Scripts/webjs/pignose.layerslider.js"></script>
<script src="~/Scripts/webjs/easyResponsiveTabs.js"></script>
<script src="~/Content/plugins/owl-sliderbar/js/owl.carousel.min.js"></script>
<script src="~/Scripts/DisplayProduct/HomePage.js"></script>
<script>
    $(function () {
        $(window).resize(function () {
            var groupProductTitleWidth = $(".title-groupproduct").outerWidth();
            var subCategoriesWidth = groupProductTitleWidth - $(".category-title-groupproduct").outerWidth() - 60 - 40 - 30;
            $(".childrencategory-groupproduct").outerWidth(subCategoriesWidth);
        });
        $(window).trigger('resize');
    });
</script>
}

<div ng-app="ecom_HomePage">
    <!-- Start banner top -->
    @*@Html.Partial("_BannerTop")*@
    <!-- End banner top -->
    <!-- content -->

    <div ng-controller="ecom_Main_Controller as ctrl" class="product-easy">
        <div class="container brandbanner-panel">
            @Html.Action("GroupBanners")
        </div>
        <div class="container groupproduct-panel">
            @foreach (SummaryCategoryViewModel category in ViewBag.MainCategories)
            {
                @Html.Action("GroupProductPatial", new { @categoryId = category.Id })
            }
        </div>
    </div>
    <!-- //product-nav -->
</div>
