
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/display-product/checkout-successful-page.css" rel="stylesheet" />

<!--banner-->
<div class="container checkout-successful-panel">
    <h2 class="title-checkout-successful">Gửi email thành công</h2>
    <br />
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
    <br />
    <br />
    <h4 class="content-checkout-successful">
        Bạn vừa gửi email thành công đến cho chúng tôi, chúng tôi sẽ liên hệ lại với bạn nhanh nhất
    </h4>
    <h4 class="content-checkout-successful">Cảm ơn.</h4>
</div>

