#to_top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
}

.font-size-child-menu, .left-menu-product {
font-size: 10.5pt !important;
}

/*#region Menu bar Home page */

.navbar_menu_HomePage {
    max-height: 100% !important;
}

.navbar_HomePage {
    width: 100% !important;
}

/*#endregion */