
#thumbs_list_frame{
    list-style:none;
    margin-top:5px;
    overflow:auto;
}

#thumbs_list_frame li{
    display: inline-block;
    float: left;
    margin-right: 5px;
    cursor:pointer;
    border:1px solid #ccc;
}

#thumbs_list_frame li:hover{
    border:1px solid #FDA30E;
    cursor:pointer;
    box-sizing:border-box;
}

.narbar-description{
    margin-top:10px;
}

.narbar-description ul{
    margin-bottom:0;
}

.narbar-description ul>li>a{
    color:#333!important;
    background: #e4e4e4; 
    text-transform: uppercase;   
}

.narbar-description .nav-tabs > li > a:hover{
    color:#fff!important;
    
}

.narbar-description .nav-tabs > li {
    margin-bottom:0;
}

.narbar-description .tabtitle-narbar-description{
    text-transform: uppercase;
    font-size: 24px;
    color: #116080;
    margin: 2em 0;
}

.narbar-description .my-content{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.productname-productdetails{
    color: #3e3e3e;
    font-size:22px;
    font-weight: 500;
}

.pricepanel-productdetails{
    background: url(../Images/priceBg.jpg) no-repeat;
    background-size: 100% 100%;
    font-size: 1.2em;
    padding: 10px 20px;
    color: #a6a6a6;
}

.productprice-productdetails{
        color: #ea0000;
}
.productprice-productdetails b {
    font-size: 26px;
    font-weight:bold;
}
.oldprice-productdetails del {
    padding-left: 40px;
    line-height: 1.2;
}
.discount-productdetails{
    position: absolute;
    margin-top: -40px;
    right: 60px;
}
.note-productdetails{
    font-size: 14px;
}

.productinforcontainer{
    margin-bottom: 8px;
    margin-top: 8px;
    display:block;
    clear:both;
    font-size: 14px;
}
.left-label{
    float: left;
    width: 140px;
    font-weight:600;
}

.discount-productdetails{
    display: block;
    width: 75px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    background: url(../Images/price_tag_detail.png) no-repeat #efefef;
    background-size: auto 100%;
    color: #FFF;
    font-size: 20px;
}

.cl-green {
    color: #0f8200;
}
