
#thumbs_list_frame{
    list-style:none;
    margin-top:5px;
    overflow:auto;
}

#thumbs_list_frame li{
    display: inline-block;
    float: left;
    margin-right: 5px;
    cursor:pointer;
    border:1px solid #ccc;
}

#thumbs_list_frame li:hover{
    border:1px solid #FDA30E;
    cursor:pointer;
    box-sizing:border-box;
}

.narbar-description{
    margin-top:10px;
}

.narbar-description ul{
    margin-bottom:0;
}

.narbar-description ul>li>a{
    color:#333!important;
    background: #e4e4e4; 
    text-transform: uppercase;   
}

/*.narbar-description .nav-tabs > li > a:hover{
    color:#fff!important;
    
}*/

.narbar-description .nav-tabs > li {
    margin-bottom:0;
}

.narbar-description .tabtitle-narbar-description{
    text-transform: uppercase;
    font-size: 24px;
    color: #116080;
    margin: 2em 0;
}

.narbar-description .my-content{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.productname-productdetails{
    color: #3e3e3e;
    font-size:22px;
    font-weight: 500;
}

.pricepanel-productdetails{
    background: url(../Images/priceBg.jpg) no-repeat;
    background-size: 100% 100%;
    font-size: 1.2em;
    padding: 10px 20px;
    color: #a6a6a6;
}

.productprice-productdetails{
        color: #ea0000;
}
.productprice-productdetails b {
    font-size: 26px;
    font-weight:bold;
}
.oldprice-productdetails del {
    padding-left: 40px;
    line-height: 1.2;
}
.discount-productdetails{
    position: absolute;
    margin-top: -40px;
    right: 20px;
}
.note-productdetails{
    font-size: 14px;
}

.productinforcontainer{
    margin-bottom: 8px;
    margin-top: 8px;
    display:block;
    clear:both;
    font-size: 14px;
}
.left-label{
    float: left;
    width: 140px;
    font-weight:600;
}

.discount-productdetails{
    display: block;
    width: 75px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    background: url(../Images/price_tag_detail.png) no-repeat transparent;
    background-size: auto 100%;
    color: #FFF;
    font-size: 20px;
}

.cl-green {
    color: #0f8200;
}

/*-- single-page --*/
.single {
    padding-bottom: 90px;
}

.single-right-left h3 {
    text-transform: capitalize;
    font-size: 24px;
    color: #5cd2ff;
    margin: 0;
}

.single-right-left p {
    color: #000;
    font-size: 23px;
    margin: .5em 0 1em;
}

.single-right-left del {
    color: #A7A7A7;
    margin-left: 10px;
}

.description {
    margin: 1.5em 0;
}

    .description h5 {
        color: #989898;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 12px;
    }

    .description p {
        font-size: 14px;
        color: #999;
        line-height: 1.8em;
        margin: 0.5em 0 0;
    }

.occasional {
    margin: 2em 0;
}

    .color-quality-right h5, .occasional h5 {
        color: #000;
        font-size: 18px;
        margin: 0 0 12px;
    }

.color-quality-right select {
    padding: 5px 21px;
}

.colr {
    width: 33.333%;
    float: left;
}

.description input[type="text"] {
    padding: 8px 8px;
    color: #ccc;
    font-size: 13px;
    width: 45%;
    outline: none;
}

.description input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background: #5cd2ff;
    border: none;
    outline: none;
    padding: 7px 17px 9px;
}

    .description input[type="submit"]:hover {
        background: #000;
    }

.occasion-cart a {
    padding: 8px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.bootstrap-tab {
    margin: 5em 0 0;
}

.bootstrap-tab-text p {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}

.bootstrap-tab-text h5, .add-review h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #212121;
    margin: 2em 0;
}

.bootstrap-tab-text p span {
    display: block;
    margin: 2em 0 0;
}

.bootstrap-tab ul li a {
    font-size: 1em;
    color: #999;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #5cd2ff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFFFFF !important;
}

.bootstrap-tab-text-grid-left {
    float: left;
    width: 14%;
}

.bootstrap-tab-text-grid-right {
    float: right;
    width: 83%;
}

    .bootstrap-tab-text-grid-right ul li {
        display: inline-block;
    }

        .bootstrap-tab-text-grid-right ul li:nth-child(2) {
            float: right;
        }

        .bootstrap-tab-text-grid-right ul li a {
            font-size: 1em;
            color: #5cd2ff;
            text-transform: uppercase;
            text-decoration: none;
        }

            .bootstrap-tab-text-grid-right ul li a:hover {
                color: #212121;
            }

            .bootstrap-tab-text-grid-right ul li a span {
                left: -1em;
            }

.bootstrap-tab-text-grids {
    margin: 3em 0 0 0em;
}

.bootstrap-tab-text-grid-right p {
    margin: 2em 0 0;
    color: #999;
    font-size: 15px;
    line-height: 2em;
}

.bootstrap-tab-text-grid-left img {
    border: 2px solid #000;
    border-left: 2px solid #5cd2ff;
    border-bottom: 2px solid #5cd2ff;
    border-radius: 100%;
    padding: 8px 8px;
    width: 86%;
}

.bootstrap-tab-text-grid:nth-child(2) {
    margin: 3em 0 0;
}

.add-review form {
    margin: 2em 0 0;
}

.add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #D2D2D2;
    width: 49.35%;
    font-size: 15px;
    color: #5cd2ff;
}

.add-review input[type="email"] {
    margin-left: 1%;
}

.add-review textarea {
    width: 100% !important;
    min-height: 150px;
    margin: 1em 0;
    resize: none;
}

.add-review input[type="text"]:nth-child(3) {
    width: 100%;
    margin: 1em 0;
}

.add-review input[type="submit"] {
    outline: none;
    padding: 10px 0;
    background: #5cd2ff;
    border: none;
    width: 30%;
    font-size: 1em;
    color: #fff;
}

    .add-review input[type="submit"]:hover {
        background: #000;
    }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #5cd2ff;
    color: #fff;
}
/*-- //single-page --*/
