.price-range-container{
    display:inline-block;
    float:left;
    background-color: transparent;
    width: 100%;
    padding: 15px;
}
.price-range-input-panel{
    display:inline-block;
    float:left;
    width:196px
}
.btn-filter-after-price-wrapper{
    display:inline-block;
    float:left;
    margin-left: 10px;
    margin-top:20px;
}

.btn-filter-after-price{
    padding:5px;
}
.btn-filter-after-price>i{
    font-size:25px;
    color: #263f52;
}
.btn-filter-after-price>i:hover, .btn-filter-after-price>i:focus {
    color:#630a34;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.3;
    filter: alpha(opacity=0);
    visibility: visible;
    top:0!important;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}
.noresult-panel{
    margin-left:15px;
    font-style:italic;
}

/* css for vertical list product on the left panel */
.productimage-verticallistproduct{
    width:98px!important;
    height:98px!important;
}

/* css for list product on main content panel */
.productimage-listproduct-displayproductview{
    max-width: 100%!important;
    max-height: 250px!important;
}

ul.product_list.grid > li .product-container .product-image-container.image-container-displayproductview {
    height:250px;
}

.left-category-link-displayproduct{
    margin-left:10px;
}

.left-category-link-displayproduct:hover{
    color:#630a34;
}

/* start category css */
.category-filterItems li{
    list-style: square url("../Images/Common/list-style.png");
}

.sub-category-list{
    margin-left:15px;
}

.category-link{
    cursor:pointer;
}

.category-link.active{
    color:#039445
}



/* end category css */
/* start filter panel*/

.slider-selection {
    background: none repeat scroll 0 0 #FDA30E;
}
.category-filterItems{
}

.price-filterItems{
    height: 100px;
    padding: 5px;
}

.listcategories-displayproduct{
    padding: 5px 5px 5px 35px;
    display:block;
}
.listbranch-displayproduct{
    padding:10px;
    display:block;
    height:400px;
    overflow-y:auto;
}
.listbranch-displayproduct>ul{
    list-style:none;
}

.ckb-brand-filtercontent{
    margin-right: 10px!important;
    margin-top: 0;
}

.filter-decorator-first-header{
    display:inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #039445;
    border-left: 2px solid #039445;
    transform: rotate(-45deg) translate3d(0, 0, 0);
}

.filter-decorator-second-header{    
    display:inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #039445;
    border-left: 2px solid #039445;
    transform: rotate(-45deg) translate3d(0, 0, 0);
}

.filter-title{
    display:inline-block;
    width:100px;
    color:#039445;
    font-weight:500;
    text-transform:uppercase;
}

.filter-header{
    display:block;
    height:20px;
    margin:10px 0 5px 0;
}

.productlist-displayproduct{
    min-height:900px;
}

/* end filter panel*/
/* start right panel */

.products-right h5{
    margin:18px 0;
}

/* end right panel */

