@using OnlineStore.Model.ViewModel;
@model IList<BrandSummaryView>
@{
    var numberBrands = Model.Count();
}
<script>
    $(function () {
        $(".b-brandbanner .owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 0,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            autoWidth:false,
            nav: false,
            dots:false
        });
    });
</script>
<style>
    .coverimage-brandlist-horizontalbar {
        width: 180px;
        height: 180px;
    }

    .brandname-brandlist-horizontalbar {
        text-align: center;
        text-decoration: none;
        color: #333333;
    }

    .b-brandlist-horizontalbar {
        display: block;
        width: 100%;
    }
    .b-brandbanner .owl-carousel{
        padding:0 1px;
    }
</style>
<div class="b-brandbanner row">
    @for (int i = 0; i < numberBrands/2; i++)
    {
        <div class="owl-carousel owl-theme col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="item" style="padding-bottom: 2px;">
                <a href="/Product/DisplayProductsOfBranch/@Model[i*2].Id">
                    <img class="coverimage-brandlist-horizontalbar" title="@Model[i * 2].Name" src="@Model[i * 2].CoverImagePath" />
                </a>
            </div>
            <div class="item">
                <a href="/Product/DisplayProductsOfBranch/@Model[i * 2 + 1].Id">
                    <img class="coverimage-brandlist-horizontalbar" title="@Model[i * 2 + 1].Name" src="@Model[i * 2 + 1].CoverImagePath" />
                </a>
            </div>
        </div>
    }
</div>
