@using OnlineStore.Model.ViewModel
@model IEnumerable<BrandSummaryView>
<ul>
    @foreach (BrandSummaryView item in Model)
    {
        <li>
            <label><input type="checkbox" class="ckb-brand-filtercontent" data-id="@item.Id">@item.Name</label>
        </li>
    }
</ul>
