<!--footer-->
@*<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-bottom">
            <h2><a href="index.html"><b>T<br>H<br>E</b>Bakery Store<span>The Best Choise For You</span></a></h2>
            <ul class="social-fo">
                <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
            <div class=" address">
                <div class="col-md-12 fo-grid1">
                    <p><i class="fa fa-home" aria-hidden="true"></i>12K Street , Da Nang.</p>
                </div>
                <div class="col-md-12 fo-grid1">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
                </div>
                <div class="col-md-12 fo-grid1">
                    <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Menu</h3>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Product/GetProductByCategory/8">Bakery</a></li>
                <li><a href="/Product/GetProductByCategory/9">Kitchen Tools</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Customer Services</h3>
            <ul>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Faqs</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="#">Online Shopping</a></li>

            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h3>My Account</h3>
            <ul>
                <li><a href="/Account/Login">Login</a></li>
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Order/CheckOut">Wishlist</a></li>

            </ul>
        </div>
        <div class="clearfix"></div>
        
    </div>
</div>*@
<!-- //footer-->


<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <h2><a href="index.html"><img src="~/Content/Images/TestImages/logo3.jpg" alt=" " /></a></h2>
            <p>
                Uy tín, tin cậy, cam kết đem lại cho những sản phẩm tốt nhất cho khách hàng
            </p>
        </div>
        <div class="col-md-9 footer-right">
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Website</h4>
                    <ul>
                        <li><a href="/Home/Index">Trang Chủ</a></li>
                        <li><a href="/Home/Contact">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 sign-gd">
                    <h4>Danh Mục</h4>
                    <ul>
                        <li><a href="/Home/Index">Trang Chủ</a></li>
                        <li><a href="/Home/Contact">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 sign-gd-two">
                    <h4>Thông Tin Liên Hệ</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Địa Chỉ : Hải Châu, <span> Đà Nẵng.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Điện Thoại : +1234 567 567</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->